.rightArrow{
    animation: rightMotion 1s ease infinite alternate-reverse;
}


.header{
    font-size: 150px;
    height: 120px;
    font-weight: 800;
    line-height: 129.75px;
}

@keyframes rightMotion {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(5px);

    }
    
}

.animatedTexts{
    animation: upMotion  18s infinite ;
    
}

.standout{
     background: url(../images/standout.png);
     background-repeat: no-repeat;
     height: 120px;
     width: 500px;
 
}

.rebel{
    background: url(../images/rebel.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 500px;

}

.impress{
    background: url(../images/impress.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 500px;
}

.wow{
    background: url(../images/wow.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 500px;

}

@keyframes upMotion  {
    0%{
       transform: translateY(0px);

    }

    10%{
       transform: translateY(0px);

    }
    20%{
        
        transform: translateY(-120px);

    }
    30%{
        transform: translateY(-120px);
 
     }
    40%{
        transform: translateY(-240px);

    }
    50%{
        transform: translateY(-240px);
 
     }

    60%{
       transform: translateY(-360px);

      
    }
    70%{
        transform: translateY(-360px);
 
     }

    80%{
        transform: translateY(-360px);
    }

    90%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}


.img1{
    position: absolute;
    background: url(../images/Rectangle\ 54.png);
    height: 218px;
    width: 182px;
    left: 0%;
    right: 43.12%;
    top: 0%;
    bottom: 59.02%;


}

.img2{
    position: absolute;
    background: url(../images/Rectangle\ 55.png) no-repeat;
    left: 56.88%;
    right: 0%;
    top: 0%;
    bottom: 68.8%;
    height: 166px;
    width: 138px;
    /* left: 182px; */


}

.img3{
    position: absolute;
    background: url(../images/Rectangle\ 57.png) no-repeat;
    height: 314px;
    width: 182px;
    left: 0%;
    right: 43.12%;
    top: 40.98%;
    bottom: 0%;
}

.img4{
    position: absolute;
    background: url(../images/Rectangle\ 56.png);
    left: 56.88%;
    right: 0%;
    top: 31.2%;
    bottom: 36.47%;
    height: 172px;
    width: 138px;
/* left: 182px; */
/* top: 166px; */


}

.img5{
    position: absolute;
    background: url(../images/Rectangle\ 58.png);
    left: 56.88%;
    right: 0%;
    top: 63.53%;
    bottom: 0%;
    height: 194px;
    width: 138px;
/* left: 182px; */
/* top: 338px; */


}