.header{
    font-size: 100px;
    font-weight: 700;
    line-height: 86.9px;
    letter-spacing: 0em;
    text-align: end;
}

.testiParag{
    width: 360px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
}